{% extends 'base.html' %}

{% block title %}Профиль - GeekTech{% endblock %}
{% block additional_styles %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}
{% block main %}
    <div class="profile-container">
        <div class="profile-header">
            <h1>Добро пожаловать, {{ user.username }}!</h1>
        </div>
        <div class="profile-info">
            <p><strong>Дата регистрации:</strong> {{ user.date_joined|date:"d.m.Y" }}</p>
            <p><strong>Последний вход:</strong> {{ user.last_login|date:"d.m.Y H:i" }}</p>
            <p><strong><a href="{% url 'shopapp:feedback' %}">Оставить отзыв</a></strong></p>
            <p><strong><a href="{% url 'shopapp:cart' %}">Перейти в корзину</a></strong></p>
            <h3>История заказов</h3>
            <ul>
                {% if user.orders.all %}
                    {% for order in user.orders.all %}
                        <li>
                            <p><strong>Заказ №{{ order.id }}</strong> - {{ order.total_price }} ₽</p>
                            <p><small>Создан: {{ order.created_at|date:"d.m.Y H:i" }}</small></p>
                            <ul>
                                {% for item in order.items.all %}
                                    <li>
                                        <p><strong>Товар:</strong> {{ item.product.product_name }}</p>
                                        <p><strong>Количество:</strong> {{ item.quantity }}</p>
                                        <p><strong>Цена за штуку:</strong> {{ item.price }} ₽</p>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                {% else %}
                    <li>У вас нет заказов.</li>
                {% endif %}
            </ul>
        </div>
        <div class="logout-button">
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="next" value="{% url 'shopapp:index' %}">
                <button type="submit" class="btn-logout">Выйти</button>
            </form>
        </div>
    </div>
{% endblock %}
