{% extends 'base.html' %}

{% block title %}Доставка - GeekTech{% endblock %}

{% block additional_styles %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/delivery.css' %}">
{% endblock %}

{% block main %}
    <h1>Информация о доставке</h1>
    {% for delivery in deliveries %}
        <div class="delivery-item">
            <h2>{{ delivery.title }}</h2>
            <p>{{ delivery.text }}</p>
        </div>
    {% empty %}
        <div class="delivery-item">
            <h2>Информация недоступна</h2>
            <p>На данный момент информация о доставке отсутствует.</p>
        </div>
    {% endfor %}
{% endblock %}

